/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 10px 20px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #014864;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar li a {
  padding: 12px 20px;
  color: #e4e4e4;
  font-size: 1.3em;
}

.nav-sidebar li a:hover,
.nav-sidebar li a:active,
.nav-sidebar li a:focus {
  background: none;
  color: #fff;
}

.nav-sidebar li .glyphicon {
  color: inherit;
  font-size: inherit;
  margin: 0 10px 0 0;
}

.nav-sidebar li.active a {
  border-radius: 4px;
  background: #e4e4e4;
  color: #fff;
  margin: 0 5px;
  padding: 12px 20px 12px 15px;
  font-weight: 400;
}

.nav-sidebar__logo {
  padding: 0 20px 31px 20px;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.1em;
  text-align: center;
}

.nav-sidebar__user {
  text-align: center;
  padding: 0 20px 31px 20px;
}

.nav-sidebar__user span.glyphicon {
  color: #fff;
  font-size: 2.5em;
  margin: 0 0 20px 0;
  border-radius: 50%;
  text-align: center;
  padding: 17px;
  background: #e4e4e4;
}

.nav-sidebar__user strong {
  font-weight: 600;
  display: block;
  line-height: 1.5;
  font-size: 1.3em;
}

.nav-sidebar__user span {
  font-size: 1.17em;
  font-weight: 300;
}

.nav-sidebar__title {
  font-size: 1em;
  text-transform: uppercase;
  margin: 15px 0 15px 20px;
  color: #e4e4e4;
}