html,
body,
#root,
[data-reactroot],
.wrapper,
.container-fluid--fullscreen,
.row--fullscreen {
   height: 100%;
}

body {
    background: #fff;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

/**
 * Globals
 */
h1 {
    color: rgb(13, 75, 94);
    font-family: 'Quicksand', sans-serif;
    font-size: 2.4em;
    text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.75);
}

p {
    color: #646a71;
    font-size: 1.2em;
}

/**
 * Utilities
 */
.red {
    outline: solid 1px red;
}
