/**
 * Login Component
 *
 */

.login {
    background: #F4F4F4;
    background-clip: padding-box;
    border-radius: 6px;
    border: 8px solid rgba(0, 0, 0, 0.2);
    margin-top: 10%;
    padding: 0;
}

.login__title {
    color: rgb(13, 75, 94);
    font-family: 'Quicksand', sans-serif;
    font-size: 2.4em;
    padding: 0 30px;
    text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.75);
}

.login__body {
    background: #FCFCFC;
    border-bottom: solid 1px #e4e4e4;
    border-top: solid 1px #e4e4e4;
    padding: 15px;
}

.login__footer {
    color: #646a71;
    padding: 15px;
}

.login__footer--right {
    float: right;
}
