/**
 * Login Component
 *
 */

.login {
    background: #F4F4F4;
    background-clip: padding-box;
    border-radius: 6px;
    border: 8px solid rgba(0, 0, 0, 0.2);
    margin-top: 10%;
    padding: 0;
    position: relative;
}

.login__spinner {

}

.login_spinner--inactive {

}

.login__spinner--active {
    border: 4px solid rgb(255, 191, 0); /* Light grey */
    border-top: solid 4px #fe7e00; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    float: right;
    margin: 12px 15px 10px 15px;
}

.login__loading {

}

.login__loading--inactive {
    
}

.login__loading--active {
    background: #fff;
    opacity: 0.15;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.login__title {
    color: rgb(13, 75, 94);
    font-family: 'Quicksand', sans-serif;
    font-size: 2.4em;
    padding: 0 30px;
    text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.75);
    width: 120px;
}

.login__body {
    background: #FCFCFC;
    border-bottom: solid 1px #e4e4e4;
    border-top: solid 1px #e4e4e4;
    padding: 15px;
}

.login__footer {
    color: #646a71;
    padding: 15px;
}

.login__footer--right {
    float: right;
}
